.title{
    margin-bottom: 10px;
    text-align:center;
    width: 700px;
    color:green;
    border: solid black 2px;
}

.my-table {
    /*border: solid 1px #DDEEEE;*/
    border: solid 1px black;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.my-table thead th {
    background-color: #DDEFEF;
    border: solid 1px black;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.my-table tbody td {
    /*border: solid 1px #DDEEEE;*/
    border: solid 1px black;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    
}

.my-table tr:nth-child(even) {
    background-color: #DDEFEF;
}

.my-table tr:hover {
    background-color: #ddd;
}